*~
*.ca-bundle
*.crt
*.csr
*.key
*.zip
*.sql

/app/bootstrap.php.cache
/app/phpunit.xml
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/config/common/parameters.yml

/bin/

/src/AppBundle/Resources/front/node_modules/*
/src/AppBundle/Resources/front/jspm_packages/*
/src/AppBundle/Resources/public/css/compiled/*
/src/AppBundle/Resources/public/js/compiled/*
/src_old/*

/vendor/

/www/bundles/
/www/uploads/
/www/media/
/www/*.html
/www/*.xml
/www/*.txt

/composer.lock
